.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.git/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
media/README.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
